.titulo-habilidades{
    padding: 20px;
    color: var(--cor-detalhe-verde);
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.habilidades{
   align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.habilidade{
    margin: 0 auto;
    max-width: 350px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.3s ease-in-out;
}

.habilidade h3{
    margin: 20px 0 20px 0;
}


.habilidade:hover{
    border-bottom: 1px solid var(--cor-detalhe-verde);
    transform: scale(1.03);
}

.tecnologias{
    font-size: 100px;
    margin-bottom: 20px;
}

.tecnologia{
    border-bottom: 1px solid var(--cor-fundo-cinza-escuro);
    border-top: 1px solid var(--cor-fundo-cinza-escuro);
    padding: 20px;
}






